.font-color{
    color: #2C3333;
}
.font-fam-the{
    font-family:Orbitron;
    
}
.font-color-the{
    color: #2E4F4F;
}
.fade{
    -webkit-mask-image: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
  mask-image: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
}

.bg-div{
    background-color:#2C3333;;
}

.div-shape {

    clip-path: polygon(0 0, 93% 0, 100% 25%, 100% 100%, 5% 100%, 0 75%);
    }

.color2{
    color:#B8621B;
}

.bg-color2{
    background-color: #262A56;
    border-color: #262A56;
}

.font-fam-the-2{
    font-family:Carter One;
}

.bg-image{
    background-image: url(./components/Images/picbg3.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:right;
    
}