div .object{
    clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);

}

div img{
    filter: grayscale(0);
}

div{
    transition: all 0.2s ease;
}
.img-x:hover{
    filter: grayscale(1);
    transform: scale(1.1) ;
    transition: all 0.5s ease;
}



.div-question{
    filter: grayscale(1);
}

